body {
    background-color: purple;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    margin-bottom: 10px;
}
.title,.subheader {
    text-align: center;
}

.subheader {
    font-size: 1.75rem;
    margin: 0;
    margin-bottom: 10px;
    font-style: italic;
}
#image-container {
    display: flex;
    align-items: center;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    background-color: gainsboro;
    border-radius: 10px;
    padding: 10px;
}

img {
    border: 2px black solid;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 2px;
}

.menu-image {
    width: 200px;
}

.menu-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #888;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.menu-item-name {
    font-size: 1.5rem;
    text-align: center;
    margin-block: 0;
}

.menu-item-description {
    font-style: italic;
    font-size: 1.2rem;
}

#bar-image {
    height: 300px;
    width: 500px;
}

#beer-image {
    height: 500px;
    width: 300px;
}

#menu-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

.col1 {
    grid-column-start: 1;
}

.col2 {
    grid-column-start: 2;
}

.col3 {
    grid-column-start: 3;
}

.caption {
    text-align: center;
    font-style: italic;
}

button {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

button.active {
    background-color: goldenrod;
}