body {
    background-color: purple;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    margin-bottom: 10px;
}
.title,.subheader {
    text-align: center;
}

.subheader {
    font-size: 1.75rem;
    margin: 0;
    font-style: italic;
}
#image-container {
    display: flex;
    align-items: center;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    background-color: gainsboro;
    border-radius: 10px;
}
img {
    border: 2px black solid;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 2px;
}

.menu-image {
    width: 200px;
}

.menu-card {
    background-color: white;
}
#bar-image {
    height: 300px;
    width: 500px;
}

#beer-image {
    height: 500px;
    width: 300px;
}

#menu-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.col1 {
    grid-column-start: 1;
}

.col2 {
    grid-column-start: 2;
}

.col3 {
    grid-column-start: 3;
}

.caption {
    text-align: center;
    font-style: italic;
}

button {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
}